/*
@author David Menendez
@version V1.0
*/
@charset "UTF-8";

.descripcion{
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 5%;
    margin-left: 5%;
}

.equipo {    
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 5%;
    margin-left: 5%; 
}

.departamento{
    margin-bottom: 5%;
}

.personas {
    background-color: rgb(49, 47, 47);
    padding: 3%;
    display: flex;
    flex-direction: row;
    gap: 100px;

}
.persona{
    margin-left: 3%;
    margin-right: 3%;    
}

.foto {
    max-width: 100%;
    border-style:groove;
    border-color: blanchedalmond;
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.nombre_p {
    width: 100%;
    margin-bottom: 2%;
    font-weight: 400;
    font-style: normal;
    font-size: 20pt;
}
.texto_p {
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    font-style: normal;
    font-size: 14pt;
}

@media (max-width:1000px) {

    .descripcion{
       margin: 4%;
    }
    .departamento {    
        margin: 0%;    
    }
    .personas {
        background-color: rgb(49, 47, 47);
        display: flex;
        flex-direction: column;
    }
    .foto { 
    
        width: 100%;
        height: 100%;
        border-style:groove;
        border-color: blanchedalmond;
    }
    .nombre_p {
        font-weight: 700;
        font-size: 24pt;
        margin-bottom: 3%;
    }
    .texto_p {
        font-weight: 400;
        font-size: 18pt;
        margin-bottom: 3%;
    }   
  }

@media (max-width:425px) {

    .descripcion{
       margin: 2%;
    }
    .departamento {    
        margin: 0%;    
    }
    .personas {
        background-color: rgb(49, 47, 47);
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        
        padding: 2%;
    }
    .foto { 
    
        width: 100%;
        height: 100%;
        border-style:groove;
        border-color: blanchedalmond;
    }
    .nombre_p {
        font-weight: 700;
        font-size: 20pt;
        margin-bottom: 3%;
    }
    .texto_p {
        font-weight: 400;
        font-size: 14pt;
        margin-bottom: 3%;
    }   
  }
